html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.slideshow,
.slideshow:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.slideshow:after {
  content: '';
  background: transparent url(../images/pattern.png) repeat top left;
}
.slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  animation: imageAnimation 18s linear infinite 0s;
  -webkit-animation: imageAnimation 18s linear infinite 0s;
}
.slideshow li:nth-child(1) span {
  background-image: url(../images/01-min.jpg);
}
.slideshow li:nth-child(2) span {
  background-image: url(../images/02-min.jpg);
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
  background-image: url(../images/03-min.jpg);
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
}
/* Animation for the slideshow images */
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  17% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  32% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*
As a couple other have mentioned …
If you reduce the slide count to 3-4 for example you get 6 second periods of black between slides. If you expand the slide count to a larger number than 6 (esp 15-20) you get overlapping images sometimes both visible at the same time seen easily at the start of the slideshow after a full cycle.
Curious is anyone or the codes author has a thought on this? A shame, because like most items on codrops it’s a great piece of code for those of us getting out hands on CSS3! Thank you.

Solved my own observation, thought I would share for any others making the mistake!! In short, since the example has 6 images set on 6 second delays, it’s easy to confuse the numbers when calculating the keyframe percentages. Be sure to use the individual time interval divided by the total time interval then continue the splitting, etc. as instructed. In this way the percentages for keyframe change %’s will vary depending on your slide count (as the other way it does not) & the overlapping transition effects work perfectly whether you have 3 slides or 30!
*/
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.slab {
  font-family: 'Alfa Slab One', serif;
}
.fira {
  font-family: 'Fira Sans', sans-serif;
}
.btn {
  display: inline-block;
  padding: 9px 16px;
  background-color: #ffffff;
  text-decoration: none;
  color: #ef482f;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 3px;
  margin-top: 10px;
  border: solid 1px #e46552;
  border-bottom-color: #ff2b0b;
  box-shadow: inset 0px 0px rgba(111, 70, 64, 0.49), inset 0 0px 4px 2px rgba(125, 28, 14, 0.05), 0 10px 6px -6px rgba(0, 0, 0, 0.05);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}
.btn:hover {
  background-color: #ef482f;
  color: #fff;
}
/****************************/
a {
  color: #00b8d4;
}
hmtl,
body,
* {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  transition: all 0.2s ease;
}
html {
  background-color: rgba(5, 222, 255, 0.08);
}
.container {
  width: 1450px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 1.3;
  filter: saturate(1.05);
  background-color: #fff;
  font-weight: 300;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.05);
}
.wrapper-search {
  width: 100%;
  max-height: 920px;
  overflow: hidden;
  position: relative;
  background-color: #521835;
  background-color: #42132a;
}
.logo {
  display: inline-block;
  width: 8%;
  height: 100vh;
  margin-right: -5px;
  vertical-align: top;
  background-color: #ddd;
  background-color: rgba(0, 0, 0, 0.19);
  position: relative;
}
.background-search {
  width: 92%;
  display: inline-block;
  background-color: transparent;
  z-index: 1;
  position: relative;
  color: #fff;
  padding: 7% 0 0 4%;
}
.background-search h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 120px;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
}
.background-search p {
  font-size: 28px;
  font-weight: 300;
  width: 65%;
  margin: 0 0 40px 0;
}
.background-search .search-bar {
  display: inline-flex;
  height: 65px;
  font-family: 'Fira Sans', sans-serif;
  box-shadow: 0 20px 50px 5px rgba(0, 0, 0, 0.4);
}
.background-search input {
  border: solid 6px #00b8d4;
  border-radius: 8px 0 0 8px;
  border-right: none;
  width: 280px;
  font-weight: 300;
  margin: 0;
  padding: 5px 5px 5px 20px;
  margin-right: -4px;
  font-size: 24px;
}
.background-search input:focus {
  width: 320px;
  font-size: 28px;
}
.background-search button {
  background-color: #ef482f;
  border: solid 6px #00b8d4;
  border-radius: 0 8px 8px 0;
  color: #fff;
  margin: 0;
  letter-spacing: 1px;
  width: 150px;
  font-weight: 700;
  text-transform: uppercase;
}
.main {
  display: flex;
  position: relative;
}
.main .vertical-bar {
  background-color: #6d455d;
  display: inline-block;
  width: 8%;
}
.main .back {
  position: absolute;
  left: 570px;
  margin-bottom: 83px;
  top: 25px;
  font-size: 15px;
}
.main .image {
  background-color: #fff8f0;
  width: 26%;
  display: inline-block;
  padding: 55px 0 0 35px;
}
.main .image img {
  width: 92%;
  display: inline-block;
  max-width: 310px;
  top: 0;
}
.main .image img.fixed {
  position: fixed;
  top: 20px;
  max-width: 150px;
}
.main .image h4 {
  opacity: 0;
  font-size: 35px;
  color: #222;
  max-width: 250px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}
.main .image h4.fixed {
  position: fixed;
  top: 30px;
  opacity: 1;
}
.main .image a {
  display: block;
  margin-top: 5px;
}
.main .wrapper-info {
  display: inline-block;
  width: 66%;
  padding: 55px 50px 100px 50px;
}
.main h3 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  color: #ef482f;
  font-weight: 600;
  text-transform: uppercase;
}
.main.hidden {
  height: 0;
  overflow: hidden;
}
.info {
  padding: 0 0 0 25px;
}
.info h3 {
  font-size: 44px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ef482f;
}
.info .stats {
  display: inline-block;
  font-weight: 400;
}
.info .stats + p {
  margin: 15px 0 20px;
  font-size: 17px;
  line-height: 1.5;
}
.info .tags {
  margin: 0 0 40px 0;
}
.info .tags span {
  display: inline-block;
  background-color: #8e999a;
  color: #fff;
  border-radius: 4px;
  padding: 6px 15px;
  margin: 0 5px 0 0;
  font-size: 14px;
}
.tracks-and-video {
  display: flex;
  margin-bottom: 35px;
  position: relative;
  padding: 10px 25px 25px;
  box-shadow: 0px 4px 4px rgba(173, 167, 167, 0.3);
}
.tracks-and-video #tracks {
  flex: 1;
  width: 50%;
}
.tracks-and-video #tracks .top-tracks h3 {
  margin: 0 0 20px 0;
}
.tracks-and-video #tracks .top-tracks h3.title-video {
  position: absolute;
  left: 56%;
  top: 10px;
}
.tracks-and-video #tracks .top-tracks p {
  display: flex;
}
.tracks-and-video #tracks .top-tracks p span:nth-child(1) {
  /*width: 10%;
                    font-weight: 600;
                    padding: 0 0 0 5px;*/
  width: 10%;
  padding: 0 0 0 5px;
  display: inline-block;
  background-color: #596768;
  border-bottom: solid 1px #fff;
  padding: 10px;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  font-size: 15px;
}
.tracks-and-video #tracks .top-tracks p span:nth-child(2) {
  width: 70%;
  padding: 10px;
}
.tracks-and-video #tracks .top-tracks p span:nth-child(3) {
  width: 20%;
  padding: 10px;
}
.tracks-and-video #tracks .top-tracks p:nth-child(odd) {
  background-color: #e9ecec;
}
.tracks-and-video #music-video {
  width: 50%;
  padding: 0 0 0 50px;
}
.tracks-and-video table {
  width: 100%;
  margin: 50px 0 0 0;
  position: relative;
}
.tracks-and-video table tr img {
  width: 100%;
}
.tracks-and-video table tr td:nth-child(2) {
  position: absolute;
  left: 0;
  top: 194px;
  background-color: #efefef;
  width: 100%;
}
.tracks-and-video table tr td:nth-child(2) h3 {
  color: #405254;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  color: #fff;
  background-color: #e46552;
  font-family: 'Fira Sans', sans-serif;
}
.tracks-and-video table tr td:nth-child(2) span {
  font-size: 12px;
  line-height: 1.2;
  display: inline-block;
  color: #888;
  padding: 15px;
}
.tracks-and-video table tr td:last-child {
  display: none;
}
.tracks-and-video #ytPage {
  display: none;
}
.tracks-and-video .ytPlayer {
  position: fixed;
  z-index: 500;
  width: 60%;
  height: 60%;
  top: 10%;
  left: 20%;
  background-color: #657879;
}
.tracks-and-video .ytPlayer button,
.tracks-and-video .ytPlayer close-video {
  position: absolute;
  top: 0;
  right: 0;
}
.tracks-and-video iframe {
  position: relative;
  top: 12%;
  left: calc(50% - 400px);
}
.top-albums {
  margin-bottom: 40px;
}
.top-albums h3 {
  padding: 0 0 0 25px;
  margin-bottom: 15px;
}
.top-albums .all-albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top-albums .album {
  display: inline-block;
  width: 32%;
  padding: 10px 25px 20px;
  box-shadow: 0px 4px 4px rgba(173, 167, 167, 0.3);
}
.top-albums .album .album-name span:first-child {
  color: #283638;
  display: block;
  font-size: 18px;
  margin-top: 15px;
}
.top-albums .album .album-name span:last-child {
  font-size: 14px;
  color: #657879;
  margin-bottom: 0px;
  display: inline-block;
}
.top-albums .album img {
  width: 100%;
  display: block;
}
.similar-artists h3 {
  padding: 0 0 0 25px;
  margin-bottom: 15px;
}
.similar-artists .all-similars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.similar-artists .similar {
  display: inline-block;
  width: 32%;
  padding: 10px 25px 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(173, 167, 167, 0.3);
}
.similar-artists .similar h2 {
  margin: 10px 0 2px;
  color: #283638;
  font-size: 18px;
}
.similar-artists .similar img {
  width: 100%;
}
.similar-artists .similar:nth-of-type(3n) {
  margin-right: 0;
}
.info-error {
  background-color: red;
  padding: 18px 25px;
  left: 640px;
  top: 382px;
  width: 20%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
  margin-top: 0px;
  transition: all 0.4s ease;
  position: absolute;
  border-radius: 6px;
  z-index: 1;
  transition: all 0.6s ease;
  transform: scale(1.5, 1.5);
}
.info-error:before {
  content: " ";
  width: 0px;
  left: -14px;
  top: 22px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 14px solid red;
  position: absolute;
}
.info-error.show {
  opacity: 1;
  margin-top: 0;
  transform: scale(1, 1);
}
.album-detail {
  background-color: rgba(34, 34, 34, 0.31);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}
.album-detail.show {
  visibility: visible;
  opacity: 1;
}
.modal-album-wrapper {
  width: 800px;
  position: absolute;
  background-color: #a27979;
  display: flex;
  left: 34%;
  top: 30%;
  padding: 50px;
}
.modal-album-wrapper .close {
  position: absolute;
  right: 0;
  top: 0;
}
/* SCROLL TO TOP ***************************/
.back-to-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.9) url(../images/top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.back-to-top.is-visible {
  visibility: visible;
  opacity: 1;
}
.background-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 4, 4, 0.2);
  visibility: hidden;
  opacity: 0;
}
.background-loading .loading {
  border: 14px solid #ddd;
  border-top: 14px solid #ef482f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.background-loading.show {
  visibility: visible;
  opacity: 1;
}
